$breakpoints: (phone: 320px, tablet: 768px, desktop: 1024px)
  
.container
  display: flex
  flex-direction: column

.row
  display: flex
  flex-flow: row nowrap
  flex-basis: 100%

.col
  flex: 1

.grow
  flex-grow: 1

.one
  width: calc(100% / 12)

.two
  width: calc(100% / 6)

.three
  width: calc(100% / 4)

.four
  width: calc(100% / 3)
  
.six
  width: calc(100% / 2)

.nine
  width: 75%

.twelve
  width: 100%



