.home-container
	display: flex nowrap
	width: 100%
	padding: 1.5rem
	background-color: white
	position: relative
	@include media(">phone", "<=tablet")
		padding: 1rem

	.frame
		height: 80vh
		width: 100%
		max-width: 1400px
		max-height: 690px
		position: relative
		box-shadow: 0 7px 12px 0 rgba(0, 0, 0, .25)
		margin: 0 auto
		overflow: hidden
		transition: height 1s ease-out

	@include media(">phone", "<=tablet")
		max-height: 50vh

	h1.my-name
		color: $pink
		@include media(">phone", "<=tablet")
			font-size: 2.5rem
			padding: 0 0 0 1rem
			line-height: 4rem

	h2.subhead
		line-height: 0rem
		font-size: 1.2rem
		@include media(">phone", "<=tablet")
			font-size: 1.2rem

svg
	position: absolute
	bottom: -2px
	left: 28.5%
	height: 98%
	width: auto
	transition: left 1s linear
	@include media(">phone", "<=tablet")
		height: 80%
		left: 15%

.svg-shape
	mix-blend-mode: multiply
	fill-opacity: .75